li{padding-left: 0;}
a {display: block;
  font-weight: bold;
  text-decoration: none; color: #000000;
  }&:hover{
  color:#FF0000;
}
.text{float:left;width: 90%}
.del{float:right; width: 9%; color: red;}
